body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/60/a9/ef/60a9ef4dc03ad22e48b521cd2481b779.jpg);
  background-size: 100%;
  height: 700px;
}
#container {
  width: 1050px;
  height: 880px;
  border: 1px solid black;
  margin-left: 100px;
}
header {
  text-align: right;
  padding-top: 45px;
  font-family: Baskerville;
}
header h1 {
  margin-top: 50px;
  margin-bottom: -10px;
}
header h3 {
  margin-bottom: 1px;
}
#nav {
  border: 1px solid black;
  background-color: gray;
}
li {
  display: inline;
  font-family: American Typewriter;
  margin-left: -4px;
}
#nav a {
  text-decoration: none;
  color: black;
  background-color: gray;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#nav a:hover {
  background-color: #406251;
  color: white;
}
#info {
  text-align: center;
  margin-top: 110px;
}
a {
  color: black;
}
a:hover {
  color: white;
}
footer {
  clear: both;
  border: 1px solid black;
  text-align: center;
  background-color: black;
  opacity: .7;
  color: white;
  font-family: Baskerville;
  margin-top: 285px;
}
img {
  width: 70px;
  margin-left: 150px;
  margin-top: 30px;
}
#email {
  text-align: center;
  margin-top: 45px;
}