body {
background-image: url("https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xfa1/v/t1.0-9/11156401_10152856998855678_1790666047074064614_n.jpg?oh=ba8b5dea63b5ae653430086522bb1a9c&oe=55D58E50&__gda__=1439440317_0cbb32bf57a9c585da401d28be9916b2");
background-size: 100%;
repeat: none;
height: 1000px;
}
#hlandingpage {
  font-family: Baskerville;
  font-size: 30px;
}
h3 {
  margin-top: -20px;
}
h4 {
  margin-top: -20px;
}
ul {
  margin-top: -220px;
  width: 1225px;
  background-color: black
  opacity: .8;
  font-family: Baskerville;
  font-size: 25px;
  color: #919191;
}
li {
display: inline;
color: #919191
text-decoration: none;
a {
	color: #919191;
	text-decoration: none;
}	