body {
background-image: url("home/typewriter.jpg");
background-size: 100%;
height: 1500px;
}
#hlandingpage {
  font-family: Baskerville;
  font-size: 30px;
}
h3 {
  margin-top: -20px;
}
h4 {
  margin-top: -20px;
}
ul {
  margin-left: -19px;
  margin-top: -20px;
  font-family: Baskerville;
}
li a {
	text-decoration: none;
	color: black;
	}