body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/5d/ea/d4/5dead44384372a46ba4bc425d83f187e.jpg);
background-size: 100%;
height: 650px;
}
#hlandingpage {
  font-family: Big Caslon;
  font-size: 30px;
  color: white;
  width: 700px;
  height: 250px;
  margin-top: 150px;
  margin-left: 280px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
h3 {
  margin-top: -20px;
}
h4 {
  margin-top: -20px;
}
ul {
  font-family: Garamond;
  font-size: 25px;
  width: 1220px;
  height: 30px;
  border: 1px solid black;
  text-align: right;
  padding-right: 3px;
  background-color: black;
  
}
li {
  display: inline;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #4A8A46;
} 
span {
  color: #4A8A46;
}