body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/60/a9/ef/60a9ef4dc03ad22e48b521cd2481b779.jpg);
background-size: 100%;
height: 1500px;
}
#hlandingpage {
  font-family: Baskerville;
  font-size: 30px;
  margin-top: 5px;
  float: left;
}
ul {
  margin-top: 20px;
  font-family: Baskerville;
  font-size: 25px;
  width: 1225px;
  height: 30px;
  border: 1px solid black;
  text-align: right;
  padding-right: 3px;
  background-color: black;
  opacity: .8;
  color: white;
}
li {
  display: inline;
}
a {
color: white;
text-decoration: none;
}
a:hover {
  color: green;
}