body {
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/5d/ea/d4/5dead44384372a46ba4bc425d83f187e.jpg);
background-size: 100%;
height: 660px;
}
#hlandingpage {
  font-family: Big Caslon;
  font-size: 30px;
  color: white;
  width: 700px;
  height: 250px;
  margin-top: 150px;
  margin-left: 280px;
  padding: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
h3 {
  margin-top: -20px;
}
h4 {
  margin-top: -20px;
}
ul {
  font-family: Garamond;
  font-size: 25px;
  width: 1220px;
  height: 30px;
  border: 1px solid black;
  text-align: right;
  padding-right: 3px;
  background-color: black;
  
}
li {
  display: inline;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #7738D6;
} 
span {
  color: #7738D6;
}
#headshot {
  margin-left: 50px;
}
img {
  width: 450px;
}
#twitter {
  float: right;
  margin-right: 50px;
  margin-top: -456px;
}
#about {
  width: 500px;
  margin-left: 520px;
  margin-top: -400px;
  color: white;
  font-size: 20px;
  font-family: Garamond;
}
#container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 1266px;
  height: 600px;
}
header {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding-left: 5px;
  font-family: Big Caslon;
}
h2 {
font-family: Big Calson;
color: #E00938;
}
#resume {
  margin-left: 415px;
}
#resume p {
  font-size: 20px;
  margin-left: 65px;
  color: white;
}
#resume h2 {
  margin-left: 190px;
}